
.mail-details{
 padding-left: 3%;
 padding-right: 3%;
}
.mail-details img{
    margin-top: 1.4rem;
   
}
.mail-details .heder {
    /* border: springgreen solid; */
    display: flex;
    justify-content: space-between
    
}
.mail-details .search-bar{
    padding-bottom: 5%;
}

.mail-details .subject{
    padding-left: 50%;
    font-size: 1.5rem;
}

.mail-details from{
font-size: 1.5;
}

.mail-details .main{
    display: flex;
}
.mail-details .txt{
    padding-left: 5%;
}

.mail-details .modal{
    height: 16rem;
    width: 10rem;
    flex-direction: column;
    /* border: tomato solid; */
    float: right;
    position:absolute;
    top: 25%; 
    right: 0%;
    display: none;

    
}
.mail-details .modal.shown{
    display: flex;

   
    
}
