.mister-mail{
    padding-left: 3%;
    padding-right: 3%;

}

.mister-mail .search-bar{
    padding-bottom: 5%;
}

.mister-mail .mail-folders{
   padding-top: 2%;
  
}
.mister-mail .btn{
    width: 5rem;
}

.compose{
font-size: 1.2rem;
color: rgb(64, 95, 34);
cursor: pointer;
}

#search{
    height: 1.75rem;
    
}