.compose-modal{
    height:400px ;
    width: 400px;
    display: none;
    position: absolute;
    z-index: 5;
    background-color: gray;
    margin-left: 5%;
    
    
    
    

    
}

.compose-modal h3{
    color: yellow;
    font-size: 1.4rem;
}

button{
    background: rgb(207, 207, 2);
    border: 1px solid rgb(207, 207, 2);;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    user-select: none;
    white-space: nowrap;
    border-radius: 3px;
}

.compose-modal .subheader{
    flex-direction: column;
    height: 3rem;
    align-items: center;
    
}

 label{
/* border: springgreen solid;
font-size: ;  */
 }

.compose-modal input[id=subject]{
    
    margin-right: 5.6rem;

}



.compose-modal.show{
    
    display: block;
    
}