
.trash-list{
    /* border: teal dotted; */
    flex-direction: row;
    padding-left: 10%;
    margin-top: 5%;
    width: 70%;


}

.trash-preview{
    /* border: springgreen solid; */
    flex-direction: row;
    margin: 0;
    padding: 10px;
    
  
    
    
}

.trash-preview .from{
    /* padding-right: 2rem;
    padding-left: 2rem; */
}
.trash-preview .bodyPreview{
    
    /* padding-left: 3rem; */
}

